.desc {
  position: relative;
}

.desc div {
  /*visiblity: hidden; */
  display: none;
  position: absolute;
  top: 0;
  left:100%;
  margin-top: -30px; /* approx adjustment for arrow */
  margin-left: 15px; /* approx adjustment for arrow */
}

.desc img:hover + div {
  cursor: pointer;
  display: block;
  /*visibility: visible; */
  width: 160px;
  line-height: 20px;
  padding: 8px;
  font-size: 14px;
  text-align: center;
  z-index: 999;
  color: rgb(113, 157, 171);
  background: rgb(255, 255, 255);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 5px;
  text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
  box-shadow: #333 -4px 4px 16px 2px;
  -webkit-transition: opacity 100ms ease-in;
  -o-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  pointer-events: none;
}

.desc div:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #FFFFFF transparent transparent;
  top: 22px;
  left: -23px;
}